{% extends 'caninstitute.html'%}
{% block content%}
<style type="text/css">
table {
    border-collapse:collapse;
    color:white;
    font-family:sans_serif;
    width: 750px;
}
table,th,td {
    border:1px solid black;
    text-align:center;
}
th,td {
    padding:25px;
}
tr:nth-child(odd){
    background:#173459;
}
tr:nth-child(even){
    background:#903c56;
}
</style>
<p> <h1>POSTGRADUATE COURSES</h1></p>

<table>
    <thead>
        <tr>
            <th>COURSE NAME</th>
            <th>COURSE DURATION</th>
            <th>FEE STRUCTURE</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td><h3>Postgraduate Diploma in Project Mangement</h3></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><h3>Postgraduate Diploma in Management </h3>
            </td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><h3>Postgraduate Diploma in M&E </h3></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><h3>Postgraduate Diploma in HRM </h3></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><h3>Postgraduate Diploma in Financial Management </h3></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td> <h3>Postgraduate Diploma in Public Sector Management </h3></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            
        </tr>
        
    </tbody>
</table>

{% endblock %}
