{% extends 'caninstitute.html'%}
{% block content%}
<style type="text/css">
table {
    border-collapse:collapse;
    color:white;
    font-family:sans_serif;
    width: 750px;
}
table,th,td {
    border:1px solid black;
    text-align:center;
}
th,td {
    padding:25px;
}
tr:nth-child(odd){
    background:#173459;
}
tr:nth-child(even){
    background:#903c56;
}
</style>
<p> <h1>PROFESSIONAL COURSES</h1></p>

<table>
    <thead>
        <tr>
            <th>COURSE NAME</th>
            <th>COURSE DURATION</th>
            <th>FEE STRUCTURE</th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td> <h3>1.Project Management Professional (PMP) sponsored by Project Management Institute of USA</h3></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><p><h3>Accounting</h3></p> <p><li>CPA(U)( ICPAU Certificate)</li></p><p><li>ACCA(UK bases certificate sponsored by APMG)</li></p></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><p><h3> Project In a Controlled Environtment(PRINCE") UK based PM Certificate</h3></p>
                <p><li>PRINCE2 Foundation</li></p><p><li>PRINCE2 Practioners</li></p>
            </td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><h3>Project Risk Management Professional</h3></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><p><h3>Procurement</h3></p><p><li>CIPS(Level 1-6)-(UK based Certificate)</li></p></td>
            <td></td>
            <td></td>
            
        </tr>
        <tr>
            <td><h3>Chartered Institute of Maarketing(CIM)</h3></td>
            <td></td>
            <td></td>
            
        </tr>
        
        
    </tbody>
</table>

{% endblock %}
